<form action="" [formGroup]="studentForm">
    <div>
    <h2>Students Details:</h2>
    <label for="">Name:</label>
    <input type="text" placeholder="Name" formControlName="name">
    <br>
    <label for="">Gender:</label>
    <input type="radio" formControlName="gender" value="Male">
    <label for="">Male</label>
    <input type="radio" formControlName="gender" value="Female">
    <label for="">Female</label>
    <br>
    <label for="">Mobile:</label>
    <input type="number" placeholder="Mobile" formControlName="mobile">
    <br>
    <label for="">Email:</label>
    <input type="email" placeholder="Email" formControlName="email">
    <br>
    <label for="">Batch:</label>
    <input type="date" placeholder="Date" formControlName="batch">
    <br>
    <div formGroupName="address">
        <h1>Address:</h1>
        <label for="">City:</label>
        <input type="text" placeholder="City" formControlName="city">
        <br>
        <label for="">Mandal:</label>
        <input type="text" placeholder="Mandal" formControlName="mandal">
        <br>
        <label for="">District:</label>
        <input type="text" placeholder="District" formControlName="district">
        <br>
        <label for="">State:</label>
        <input type="text" placeholder="State" formControlName="state">
        <br>
        <label for="">Pincode:</label>
        <input type="text" placeholder="Pincode" formControlName="pincode">
        <br>
        
    </div>
    <div formGroupName="company">
        <h1>Company:</h1>
        <label for="">Name:</label>
        <input type="text" placeholder="Name" formControlName="name">
        <br>
        <label for="">Location:</label>
        <input type="text" placeholder="Location" formControlName="location">
        <br>
        <label for="">Package</label>
        <input type="number" placeholder="Package" formControlName="package">
        <br>
        <label for="">OfferDate:</label>
        <input type="date" placeholder="offerDate" formControlName="offerDate">
        <br>

    </div>
    <div>
        <label for="">Type:</label>
        <input type="radio" formControlName="sourceType" value="direct">
        <label for="">Direct</label>
        <input type="radio" formControlName="sourceType" value="referal">
        <label for="">Referal</label>
        <br>
        <div *ngIf="studentForm.get('sourceType')?.value=='direct'">
        <label for="">Sourcefrom:</label>
        <input type="radio" formControlName="sourceFrom" value="socialmedia">
        <label for="">Social Media</label>
        <input type="radio" formControlName="sourceFrom" value="office">
        <label for="">Office</label>
    </div>
    
    <div *ngIf="studentForm.get('sourceType')?.value=='referal'">
        <label for="">Referal_Name:</label>
        <input type="text" formControlName="referalName">
       
    </div>

    </div>
    <button (click)="submit()" class="btn btn-warning">Submit</button>
</div>



    <div>
    <div formArrayName="education">
        <h3>Education Details:</h3>
        <div *ngFor="let student of educationFormArray.controls, let i=index">
            
            <div formGroupName="{{i}}">
                <h4>Student-{{i+1}}</h4>
                <label for="">Qualification:</label>
                <input type="text" placeholder="Qualification" formControlName="qualification">
                <br>
                <label for="">Year:</label>
                <input type="year" placeholder="Year" formControlName="year">
                <br>
                <label for="">Percentage:</label>
                <input type="number" placeholder="Percentage" formControlName="percentage">
            <br>
                <button class="btn btn-danger" (click)="delete(i)">Delete</button>
            </div>
        </div>
    </div>
    <br>
    
    <button (click)="addForm()" class="btn btn-success">Add</button>
    
</div>
</form>
